@model IEnumerable<DierenAsielASP.Models.AnimalModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Animals</title>
</head>
<body>
    <div style="min-height:50px"></div>
@for (int i = 0; i < Model.Count(); i++)
 {
    <div class="card col-lg-3 col-md-4 col-xs-5" style="padding: 0px; margin-right: 5px; margin-top: 5px; width:250px; height:380px;">
        @Html.Raw($"<img class=\"card-img-top\" src=\"data:image/jpeg;base64,{Model.ToArray()[i].image}\" alt=\"Card image cap\" style=\"height: 200px\">")
        <div class="card-body">
            @Html.Raw($"<h5 class=\"card-title\">{Model.ToArray()[i].name}</h5>")
            <p class="card-text">
                @for (int x = 0; x < Model.ToArray()[i].characteristics.Count; x++)
                {
                    if (x > 2)
                    {
                        @Html.Raw("<li>..en meer!</li>");
                        break;
                    }
                    @Html.Raw($"<li>{ Model.ToArray()[i].characteristics[x]}</li>");                    
                }
            </p>
            @using (Html.BeginForm("Animal", "Animal", new { index = i }, FormMethod.Post))
            {
                <input type="submit" class="btn btn-primary" style="position:absolute; bottom: 0; margin-bottom: 10px;" value="Meer Informatie" />
            }            
        </div>
    </div>
    if (i + 1 % 4 == 0)
    {
        <div class="clearfix"></div>
    }
}
    <div class="clearfix"></div>
</body>
</html>
