@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]:</h2>

<address>
    <b>Adres:</b><br>
    Noord-Brabant<br />
    Lange Goorstraat 6, 5406 XE Uden    
</address>

<address>
    <b>Telefoonnummer:</b> 1234-56789010 <br />
    <strong>Mail:</strong> <a href="mailto:Info@Dierenasiel.nl">Info@Dierenasiel.nl</a><br />
</address>
