@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner0.jpg" alt="Banner0" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner1.jpg" alt="Banner1" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner2.jpg" alt="Banner2" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner3.jpg" alt="Banner3" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Bekijk de dieren.</h2>
        Ben je geintreseerd in het vinden van je nieuwe vriend? Neem dan snel een kijkje op de website, of klik <a asp-area="" asp-controller="Animal" asp-action="Index">hier</a>
    </div>
    <div class="col-md-3">
        <h2>Over ons.</h2>
        Wij zijn een groep dieren liefhebbers die graag wat voor de dieren willen doen!<br />
        Wil je meer over ons weten? Ga dan naar de pagina "Over ons", of klik <a asp-area="" asp-controller="Home" asp-action="About">hier.</a>
    </div>
    <div class="col-md-3">
        <h2>Dier gevonden?</h2>
        Neem dan contact met ons op.<br />
        Onze contact informatie kun je <a asp-area="" asp-controller="Home" asp-action="Contact">hier</a> vinden.
</div>
    <div class="col-md-3">
        <h2>Wij zoeken vrijwilligers!</h2>
        <h4>
            Geintreseerd? <br />
            <a href="mailto:info@dierenasiel.nl?SUBJECT=Opgeven%20als%20vrijwilliger&BODY=Voer%20hier%20uw%20NAW%20gegevens%20in.\">Meld je nu aan!</a>
        </h4>
    </div>
</div>
